<div class="article-card">
	<div class="article-card__video video__content">
		<button class="btn__play">
			<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M24.1133 16.0575C23.6714 17.7362 21.5834 18.9225 17.4071 21.2951C13.37 23.5886 11.3515 24.7355 9.72479 24.2745C9.05225 24.0839 8.43949 23.722 7.9453 23.2234C6.75 22.0174 6.75 19.6782 6.75 15C6.75 10.3218 6.75 7.98262 7.9453 6.77665C8.43949 6.27806 9.05225 5.9161 9.72479 5.72553C11.3515 5.26456 13.37 6.41134 17.4071 8.70491C21.5834 11.0775 23.6714 12.2638 24.1133 13.9425C24.2956 14.6355 24.2956 15.3645 24.1133 16.0575Z" stroke="#1D1D1B" stroke-width="1.5" stroke-linejoin="round" />
			</svg>
		</button>
		<video class="video-publictaion" src="./assets/video/intro.mp4">
			<source src="./assets/video/intro.mp4" type="mp4" />
		</video>
	</div>
	<div class="article-card__tags">
		<a href="#!" class="tag">Научные публикации</a>
		<a href="#!" class="tag">Статьи</a>
		<a href="#!" class="tag">Видео</a>
		
	</div>
	<div class="article-card__info">
		<div class="article-card__date">27.03.2024</div>
		<div class="article-card__title">Статья “Когнитивно-поведенческая терапия”</div>
		<div class="article-card__text">Когнитивно-поведенческая терапия – это один из наиболее распространенных и эффективных подходов в современной клинической психологии. Она основана на предположении о том, что наши мысли, чувства и поведение взаимосвязаны и влияют на</div>
		<button class="btn btn__primary">
			<span class="btn__text">Читать полностью</span>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.885 18.5L17.538 12L12.885 5.5H14.104L18.758 12L14.104 18.5H12.885Z" fill="white" />
				<path d="M7.08789 18.5L11.7419 12L7.08789 5.5H8.30789L12.9619 12L8.30789 18.5H7.08789Z" fill="white" />
			</svg>
		</button>
	</div>
</div>
