<section class="feedback">
    <div class="container">
        <h2 class="feedback__title h3">Обратная связь</h2>
        <div class="feedback__wrapper">
            <div class="feedback__img">
                <img src="./assets/images/pages/home/feedback.png" alt="" />
            </div>
            <div class="feedback__content">
                <div class="feedback__info">
                    <h5 class="feedback__info-title h5">Пришлите нам дизайн-проект</h5>
                    <div class="feedback__info-wrapper mt-40">
                        <span class="feedback__info-text">Мы внимательно изучим их. Свяжемся с вами, расскажем, чем сможем помочь в реализации проекта. Рассчитаем примерную стоимость реализации проекта</span>
                        <include src="./components/ui/btn_primary.html"></include>
                    </div>
                </div>
                <div class="feedback__info">
                    <h5 class="feedback__info-title h5">Приезжайте к нам на встречу-презентацию в шоуруме</h5>
                    <div class="feedback__info-text paragraphs">
                        <span class="feedback__info-text--paragraph">
                            Самый лучший вариант - встретиться в шоуруме, обсудить и разработать проект лично <br />
                            со своим заказчиком. Мы очень рады гостям и с теплотой <br />
                            и заботой проводим каждую встречу!
                        </span>
                        <span class="feedback__info-text--paragraph"> Мы расположились удобно для всех и у нас есть собственная парковка. </span>
                    </div>

                    <div class="feedback__info-wrapper">
                        <span class="feedback__info-placeholder">Бизнес-квартал «Арма», м. Курская</span>

                        <include src="./components/ui/btn_primary.html"></include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>