<header class="header">
	<div class="container">
		<div class="header_content">
			<div class="header_burger-btn mobile">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="20" cy="20" r="19.5" stroke="#1D1D1B" />
					<path d="M11.25 26.25H28.75M11.25 20H28.75M11.25 13.75H28.75" stroke="#1D1D1B" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</div>
			<a href="#!" class="header_logo">Алина Гарибова</a>
			<nav class="header_nav desktop">
				<a href="#!">Обо мне</a>
				<a href="#!">Образование</a>
				<a href="#!">Виды консультаций</a>
				<a href="#!">Услуги</a>
				<a href="#!">Публикации</a>
				<a href="#!">Контакты</a>
			</nav>
			<button class="btn btn__secondary desktop" data-modal="request">
				<div class="btn__text">Запись на консультацию</div>
				<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.08984 19L11.7438 12.5L7.08984 6H8.30984L12.9638 12.5L8.30984 19H7.08984ZM12.8868 19L17.5398 12.5L12.8868 6H14.1058L18.7598 12.5L14.1058 19H12.8868Z" fill="#1D1D1B" />
				</svg>
			</button>
			<a class="header_call mobile" href="#!">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="20" cy="20" r="19.5" stroke="#1D1D1B" />
					<path
						d="M16.7248 11.3969C16.3873 10.5532 15.5702 10 14.6615 10H11.6052C10.4425 10 9.5 10.9423 9.5 12.105C9.5 21.9877 17.5118 29.9995 27.3945 29.9995C28.5572 29.9995 29.4995 29.0569 29.4995 27.8942L29.5 24.8374C29.5 23.9287 28.9469 23.1117 28.1033 22.7743L25.174 21.603C24.4161 21.2998 23.5533 21.4363 22.9263 21.9588L22.1702 22.5893C21.2873 23.3251 19.9882 23.2666 19.1755 22.4539L17.0467 20.3231C16.234 19.5104 16.174 18.2124 16.9097 17.3295L17.5402 16.5735C18.0627 15.9465 18.2003 15.0834 17.8972 14.3255L16.7248 11.3969Z"
						stroke="#1D1D1B"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</a>
			<div class="header_mob-menu">
				<div class="header_mob-menu__content">
					<button class="btn-close">
						<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.9999 24.9999L13 13M13 13L1 1M13 13L25 1M13 13L1 25" stroke="#1D1D1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</button>
					<a href="#!" class="header_logo">Алина Гарибова</a>
					<nav class="header_nav">
						<a href="#!">Обо мне</a>
						<a href="#!">Образование</a>
						<a href="#!">Виды консультаций</a>
						<a href="#!">Услуги</a>
						<a href="#!">Публикации</a>
						<a href="#!">Контакты</a>
					</nav>
					<button class="btn btn__primary" data-modal="request">
						<div class="btn__text">Запись на консультацию</div>
						<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.385 18.5L18.038 12L13.385 5.5H14.604L19.258 12L14.604 18.5H13.385Z" fill="white" />
							<path d="M7.58789 18.5L12.2419 12L7.58789 5.5H8.80789L13.4619 12L8.80789 18.5H7.58789Z" fill="white" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
