<section class="request">
	<div class="container">
		<div class="request_content">
			<div class="request_title h1">Оставить заявку на консультацию</div>
			<div class="request__info">Подберем удобный для вас формат</div>

			<form class="request_form">
				<div class="request__info-gr desktop"><span class="montserrat">*</span> обязательно для заполнения</div>
				<div class="request_form__inputs">
					<div class="request_form__inputs_row">
						<span>Меня зовут</span>
						<div class="input-wrapper input-wrapper--name">
							<input type="text" />
							<div class="placeholder desktop">введите ваше имя <span class="montserrat">*</span></div>
                            <div class="placeholder mobile">введите ваше имя</div>
						</div>

						<span class="desktop">и моя проблема заключается в</span>
                        
					</div>
					<div class="request_form__inputs_row">
                        <span class="mobile">Моя проблема </span>
						<div class="input-wrapper input-wrapper--text">
							<textarea></textarea>
							<div class="placeholder desktop">опишите вашу проблему в 2-3 предложениях</div>
                            <div class="placeholder mobile">опишите вашу проблему</div>
						</div>

						<span class="desktop">.</span>
					</div>
					<div class="request_form__inputs_row">
						<span>Пожалуйста, свяжитесь со мной по номеру</span>
						<div class="input-wrapper input-wrapper--tel">
							<input type="text" class="input-phone" />
							<div class="placeholder desktop">введите номер телефона <span class="montserrat">*</span></div>
                            <div class="placeholder mobile">введите номер телефона</div>
						</div>
						<span class="desktop">.</span>
					</div>
				</div>
				<button class="btn btn__primary">
					<span class="btn__text">Записаться на консультацию</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.885 18.5L17.538 12L12.885 5.5H14.104L18.758 12L14.104 18.5H12.885Z" fill="white" />
						<path d="M7.08789 18.5L11.7419 12L7.08789 5.5H8.30789L12.9619 12L8.30789 18.5H7.08789Z" fill="white" />
					</svg>
				</button>
			</form>
		</div>
	</div>
</section>
