<section class="request-sm">
	<div class="container">
		<div class="request-sm_content">
			<div class="request-sm_img">
				<img src="./assets/images/pages/services/request-sm.jpg" alt="" />
			</div>
			<div class="request-sm_text">
				<div class="request-sm_title">Психотерапия – это забота о своем внутреннем мире и ключ к пониманию себя</div>
				<button class="btn btn__secondary btn__request" data-modal="request">
					<span class="btn__text">Запись на консультацию</span>
					<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.08984 19L11.7438 12.5L7.08984 6H8.30984L12.9638 12.5L8.30984 19H7.08984ZM12.8868 19L17.5398 12.5L12.8868 6H14.1058L18.7598 12.5L14.1058 19H12.8868Z" fill="#1D1D1B" />
					</svg>
				</button>
				<a href="tel:+79060972369" class="request-sm_tel"> <span class="montserrat">+</span>7 906 097-23-69 </a>
			</div>
		</div>
	</div>
</section>
