<div class="service-card">
	<div class="service-card_title h3">Лечение депрессии и тревожности в Москве</div>
	<div class="service-card_desc">Когда вы обращаетесь ко мне, я помогу вам разобраться в сложных ситуациях, научу управлять эмоциями, развивать личностные качества и достигать поставленных целей. Моя цель - помочь вам стать счастливее, увереннее и успешне</div>
	<div class="service-card_btns">
		<button class="btn btn__primary" data-modal="request">
			<span class="btn__text">Записаться</span>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.885 18.5L17.538 12L12.885 5.5H14.104L18.758 12L14.104 18.5H12.885Z" fill="white" />
				<path d="M7.08789 18.5L11.7419 12L7.08789 5.5H8.30789L12.9619 12L8.30789 18.5H7.08789Z" fill="white" />
			</svg>
		</button>
		<button class="btn btn__secondary">
			<span class="btn__text">Подробнее</span>
			<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.08984 19L11.7438 12.5L7.08984 6H8.30984L12.9638 12.5L8.30984 19H7.08984ZM12.8868 19L17.5398 12.5L12.8868 6H14.1058L18.7598 12.5L14.1058 19H12.8868Z" fill="#1D1D1B" />
			</svg>
		</button>
	</div>
</div>
