body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 2rem;
	line-height: 1.2;

	&.lock {
		overflow: hidden;
		touch-action: none;
	}

	@media (max-width: 48em) {
		font-size: 3.2rem;
	}
}

main {
	flex-grow: 1;
}

section:first-of-type {
	margin-top: 14.8rem;

	@media (max-width: 48em) {
		margin-top: 17rem;
	}
}

.h1 {
	font-size: 8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;

	@media (max-width: 48em) {
		font-size: 7.2rem;
	}
}

.h2 {
	font-size: 4.4rem;
	font-weight: 600;

	@media (max-width: 48em) {
		font-size: 4.8rem;
	}
}

.h3 {
	font-size: 2.4rem;
	font-weight: 600;

	@media (max-width: 48em) {
		font-size: 4rem;
	}
}

.h6 {
	font-size: 2.4rem;
	font-weight: 400;
}

.btn {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1.7rem 3.2rem;
	border-radius: 10rem;
	white-space: nowrap;

	@media (max-width: 48em) {
		padding: 3.4rem 8.7rem;
	}

	svg,
	img {
		width: 2.4rem;
		height: 2.4rem;

		@media (max-width: 48em) {
			width: 4.8rem;
			height: 4.8rem;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 1.2;

		@media (max-width: 48em) {
			font-size: 3.6rem;
		}
	}

	&__primary {
		background-color: #1d1d1b;
		color: #fff;

		&:hover {
		}
	}

	&__secondary {
		background-color: transparent;
		border: 0.15rem solid #1d1d1b;
		border-radius: 10rem;
		color: $fontColor;

		@media (max-width: 48em) {
			border: 20rem;
			border: 0.3rem solid #1d1d1b;
			padding: 1.6rem 4rem;

			.btn__text {
				font-size: 3.2rem;
			}
		}
	}

	&__play {
		border-radius: 100%;
		background-color: #ffffff99;
		border: 0.13rem solid #fff;
		width: 6rem;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		transition: opacity 0.2s;

		@media (max-width: 48em) {
			width: 10.2rem;
			height: 10.2rem;
			border: 0.26rem solid #fff;
		}

		svg {
			width: 3rem;
			height: 3rem;

			@media (max-width: 48em) {
				width: 4.8rem;
				height: 4.8rem;
			}
		}

		&.pause {
			opacity: 0;
		}
	}

	&__back {
		svg {
			transform: rotate(180deg);
		}
	}

	&__show-more {
		margin: 6rem auto 0;

		@media (max-width: 48em) {
			margin: 10rem auto 0;
		}

		svg {
			transform: rotate(90deg);
		}
	}
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.tabs-content {
	display: none;

	&.active {
		display: block;
	}
}

.tab {
	border-radius: 10rem;
	border: 0.13rem solid $fontColor;
	padding: 1.6rem 3.2rem;
	font-size: 1.8rem;
	height: fit-content;
	width: fit-content;
	line-height: 1.2;
	transition: background-color 0.2s, color 0.2s;
	white-space: nowrap;

	@media (max-width: 48em) {
		border-radius: 20rem;
		border: 0.2rem solid $fontColor;
		padding: 2rem 3.2rem;
		font-size: 2.4rem;
	}

	&.active {
		background-color: $fontColor;
		color: #fff;
	}
}

.tag {
	width: fit-content;
	height: fit-content;
	border-radius: 2rem;
	border: 0.1rem solid #fff;
	color: #fff;
	background-color: #ffffff99;
	padding: 1rem 2rem;
	backdrop-filter: blur(8px);
	font-size: 1.2rem;
	white-space: nowrap;

	@media (max-width: 48em) {
		border-radius: 4rem;
		border: 0.2rem solid #fff;
		padding: 1.6rem 2.4rem;
		font-size: 2.4rem;
	}
}

.hidden {
	display: none;
}

textarea {
	resize: none;

	&::-webkit-scrollbar {
		width: 0.6rem;
	}

	&::-webkit-scrollbar-thumb {
		background: #cbc7c7;
		border-radius: 1rem;
	}
}

.mobile {
	display: none !important;
}

@media (max-width: 48em) {
	.mobile {
		display: flex !important;
	}
	.desktop {
		display: none !important;
	}
}
